@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --primary-color:rgb(134, 134, 134);
    --second-color:rgb(238, 236, 236);
    --bg:rgb(110, 63, 63);
    --red:red;
    --black:#000;
    --white:#fff;
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);

  }

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
section{
    padding: 2rem 7%;
  }
  
.heading{
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    font-size: 4rem;
    border-bottom: 2px solid var(--primary-color);
  }

  .heading2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    font-size: 4rem;
    border-bottom: 2px solid white;

  }
  .heading3{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    font-size: 2rem;
    font-weight: bold;

  }
  
.heading span{
    color: var(--second-color);
    text-transform: uppercase;
  }
  
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    cursor: pointer;
  }
  
.btn:hover{
    background: var(--second-color);
  }
  
.header{
    top: 0; 
    left: 0; 
    right: 0;
    background: rgb(202,202,202);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    position: fixed;
    z-index: 1000;
  } 
.header .logo{
    height: 65px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
  }
  .header .logotyp{
   height: 100%;
   left: 0px;
  }
  
.header .logo i{
    color: var(--second-color);
    padding-right: .5rem;
  }
.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
    font-weight: bold;
  }
  
.header .navbar a:hover{
    color: var(--primary-color);
  }

.header .navbar .icon{
  display: none;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--black);
    cursor: pointer;
  }
  
.header .icons div:hover{
    color: var(--primary-color);
  }
  

  /*about */
.about{
  padding-top: 120px;
}
  
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .image{
    flex: 1 1 40rem;
  }
  
  .about .row .image img{
    width: 100%;
    height: 100%;
    border-radius:50px;
  }
  
  .about .row .content{
    flex: 1 1 40rem;
  }
  
  .about .row .content h3{
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .about .row .content h3 span{
    color: var(--second-color);
  }
  
  .about .row .content p{
    font-size: 1.4rem;
    color: #444;
    padding: 1rem 0;
    line-height: 2;
  }

  /* Galeria */

  .gallery .gallery_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, auto));
    gap: 2rem;
  }

  .gallery .gallery_container .box{
    position: relative;
    overflow: hidden;
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .gallery .gallery_container .box .image img{
    max-width: 100%;
    object-fit: cover;
  }
  
  .gallery .gallery_container .box .image:hover img{
    transform: scale(1.1);
  }

  .gallery .gallery_container .box .content{
    flex: 1 1 40rem;
  }
  
  .gallery .gallery_container .box .content h3{
    color: var(--black);
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 1rem;
  }
  
  .gallery .gallery_container .box .content h3 span{
    color: var(--second-color);
  }
  
  .gallery .gallery_container .box .content p{
    font-size:1.5rem;
    color: #444;
    padding: 1rem 0;
    line-height: 2;
  }
  .gallery .gallery_container .box .content table{
    border: 2px solid black;
    font-size: 1.5rem;
    text-align: center;
    background-color: #888;
    width: 100%;
    display: block;
  }

  .gallery .gallery_container .box .content td{
    border: 2px solid black;
   }
   .gallery .gallery_container .box .content th{
    font-weight: bold;
   }

   .gallery .gallery_container .box .content .toggleButton :hover{
    background-color: black;
    color: white;
  }

   	th, td {
		padding: 15px;
		text-align: left;
    font-weight: bold;
    text-align: center;
    width: 100%;
	}

  th {
    border: 2px solid black;
  }

	tr:nth-child(even) {
		background-color: #ccc;
	}
	tr:nth-child(odd) {
		background-color: #fff;
	}
	th {
		background-color: #888;
		color: white;
    width: 100%;
	}

  .tableBlock {
    transform: 2s linear;
  }

  .toggleButton {
    padding: 10px;
    font-size: 1.5rem;
    border: 2px black solid;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }

   .toggleButton:hover{
    color: white;
    background-color: #888;
   }

   .toggleButtonActive{
    color: white;
    background-color: #888;
   }
  

  /* Koniec Galerii */

  /* Paralaxa */
  .parallax{
    background: url(../images/malarnia2.jpg) no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
  }

  .parallax::before{
    content: '';
    position: absolute;
    top: 0; left: 0; 
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .parallax .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .parallax .box_container .box{
    text-align: center;
    justify-content: center;
  }

  .parallax .box_container .box .content h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .parallax .box_container .box .content li{
    color: var(--white);
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  /* Koniec paralaxy */

  /* Paleta Ral */
  .palette .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2Fr));
    gap: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }

  .palette .box-container .content p{
    font-size: 1.6rem;
    color: #000;
    padding: 1rem 0;
    line-height: 2;
    font-weight: bold;
  }
  /* Koniec Palety */

  /* Kontakt */
  .contact{
    background:rgb(202,202,202);
    text-align: center;
    box-shadow: var(--box-shadow);
  }
  .contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2Fr));
    gap: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 40px;
  }
  .contact .box-container h3{
    font-size: 10rem;
    color: var(--white);
    padding: auto;
  }
  .contact .box-container .box h3{
    font-size: 2.2rem;
    color: var(--white);
    padding: auto;
  }
  .contact .box-container .box p{
    font-size: 1.8rem;
    line-height: 2;
    color:var(--black);
    padding: .5rem 0;
    font-weight: bold;
  }
  .contact .box-container .box a{
    color:#645a5a
 
  }
  .contact .box-container .box a:hover{
    color:#4e0606
  }
  .contact .box-container .share{
    margin-top: 0;
  }
  .contact .box-container .share a{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--primary-color);
    color: var(--white);
    margin-right: .3rem;
  }

  .contact .box-container .box .share a:hover{
    background: rgb(150, 147, 142)
  }
  
  .contact .box-container .box .link{
    font-size: 2.5rem;
    line-height: 2;
    color: rgb(0, 0, 0);
    padding: .5rem 0;
    display: block;
    border-radius: 50%;
  }
  
  .contact .box-container .box .link:hover{
    color: var(--second-color);
    text-decoration: underline;
  }
  /* Kontakt koniec */
  
  /*stopka*/
  
.footer{
  background:rgb(202,202,202);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 2rem;
}
.footer .box-container h3{
  font-size: 2.2rem;
  color: var(--white);
  padding: auto;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: var(--white);
  padding: auto;
}

.footer .box-container .box p{
  font-size: 1.8rem;
  line-height: 2;
  color:var(--black);
  padding: .5rem 0;
  font-weight: bold;
}

.footer .box-container .share{
  margin-top: 0;
}

.footer .box-container .share a{
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: .3rem;
}

.footer .box-container .box .share a:hover{
  background: rgb(39, 38, 36)
}

.footer .box-container .box .link{
  font-size: 2.5rem;
  line-height: 2;
  color: rgb(0, 0, 0);
  padding: .5rem 0;
  display: block;
  border-radius: 50%;
}

.footer .box-container .box .link:hover{
  color: var(--second-color);
  text-decoration: underline;
}

.footer .box-container .share{
  color : rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
}


@media screen and (max-width: 700px) {
  .header .navbar a:not(:first-child) {display: none;}
  .header .navbar a.icon {
    float: right;
    display: block;
  }
  .header .navbar.responsive {position: relative;}
  .header .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .contact .box-container .box .link{
    font-size: 1.5rem;
  }

}

.header .navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
  padding: 3px 0 3px 0;
}